body {
  overflow: hidden;
  height: 100%;
}

#content {
  min-width: 900px;
  height: 100%;
}

#fhole {
  top: 10px;
  height: 47px;
  position: absolute;
  left: 10px;
}

#new-icon {
  top: 17px;
  height: 30px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#searchbar {
  position: absolute;
  top: 10px;
  left: 60px;
  right: 30px;
  overflow: hidden;
}

#searchbar input {
  padding: 10px;
  font-size: 1.2em;
  width: 95%;
}

#searchbar input[type="text"] {
  min-width: 700px;
}

#searchbar input[type="submit"] {
  display: none;
}

#searchsvg {
  margin-left: -35px;
  cursor: pointer;
}

#searchresults {
  overflow-y: auto;
  max-height: 100%;
  position: absolute;
  top: 70px;
  bottom: 100px;
  left: 0;
  right: 0;
  z-index: -1;
}

#searchresult {
  margin: 20px;
}

.piece {
  font-size: 1.5em;
  margin: 5px;
}

.linktitle{
  color: #1a0dab;
  cursor: pointer;
}

.title {
  font-weight: bold;
}

.composer {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  margin: 5px;
}

.movements {
  margin: 5px;
}
.movementlink {
  margin-left: 20px;
}

.movement {
  font-size: 1.1em;
  margin-left: 20px;
  font-weight: bold;
}

.performers {
  font-size: 1.1em;
  font-style: italic;
  margin: 5px;
}
.album {
  font-size: 1.1em;
  margin: 5px;
}

#player {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  background-color: white;
}

#player #nowplaying {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  height: 50px;
  border-top: 2px solid #ebebeb;
  background-color: #fafafa;
}

#player audio {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  width: 100%;
}

#topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  height: 70px;
  background-color: #fafafa;
  border-bottom: 2px solid #ebebeb;
  z-index: 10;
}

.edit-icon {
  height: 25px;
  transform: translateY(5px);
}
